*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(54,101,70,0.7);
    color: white;
}

main>h3{
    margin-left: 20px;
}
.link-viagens{
    display: flex;
    justify-content: end;
    margin: 20px;
}
a{
    text-decoration: none;
    color: white;
}

.card{
    border-radius: 10px;
    background-color: rgb(54, 101, 70);
    box-shadow: 3px 3px 3px rgba(54, 101, 70, 0.445);
    margin-bottom: 10px;
}
.card-title{
    margin-bottom: 20px;
}
.card-text{
    margin:0;
}
.card-body{
    background-color: rgb(54,101,70);
    color: white;
    border-radius: 10px;
}

.cards-nacionais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-internacionais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media(max-width: 768px){
    main>h3{
        display: flex;
        justify-content: center;
    }

}